
  body {
    margin: 0;
    padding: 0;
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fd89b9;
  }

  .container1 {
    position: relative;
    margin-bottom: -100px;
    width: 50%;
    height: 30%;
    background-color: #fff;
    border: 1px solid #000;
  }
  .box{
    height: 100px;
    width: 100px;
    background-color: red;
  }
  .box1 {
    width: 100px;
    height: 100px;
    background-color: #165e83;
  }
  .box2 {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-bottom: 2rem;
  }
  .box5 {
    width: 100px;
    height: 100px;
    background-color: rgb(21, 230, 230);
    margin-bottom: 5rem;
  }
  .box6 {
    width: 100px;
    height: 100px;
    background-color: rgb(33, 199, 97);
  }

  .section2 {
    display: flex;
    justify-content: center;
    padding: 200px 0;
    background-color: #fd89b9;
    // background-color: #1e2a60;
  }

  .section4 {
    height: 100vh;
    overflow: hidden; /*隱藏超出外層容器的元素*/
    max-width: 100%;
  }

  .loop {
    display: inline-block;
    font-family: "Dela Gothic One";
    font-size: 5rem;
    color: transparent;
    white-space: nowrap; /*文字必須設為nowrap，否則文字會自動換行*/
    height: 100%;
    -webkit-text-stroke: 1px black;
  }
  .loop > span {
    display: inline-block;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .section3 {
    position: relative;
    display: flex;
    height: 100vh;
   overflow: hidden;
  }
  i {
    font-size: 10rem;
  }
  .gate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .z-0 {
    z-index: 0;
  }
  .z-10 {
    z-index: 10;
  }
  .z-20 {
    z-index: 20;
  }
  .gate-left {
    left: 0;
  }
  .gate-right {
    right: 0;
  }

  .gate-right-1 {
    background-color: #ffe7a9;
  }
  .gate-right-1 > i {
    color: #69f0ae;
  }
  .gate-left-1 {
    background-color: #e7ffa9;
  }
  .gate-left-1 > i {
    color: #ffa09d;
  }

  .gate-right-2 {
    background-color: #559496;
  }
  .gate-right-2 > i {
    color: #69f0ae;
  }
  .gate-left-2 {
    background-color: #005f62;
  }
  .gate-left-2 > i {
    color: #ffa09d;
  }

  .gate-right-3 {
    background-color: #69f0ae;
  }
  .gate-right-3 > i {
    color: #69f0ae;
  }
  .gate-left-3 {
    background-color: #ddfbed;
  }
  .gate-left-3 > i {
    color: #ffa09d
  }

.section4 {
  min-height: 100vh
}


.section5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100vh;
  background: #f5f5f5;
}
.section5 > img {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
