<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
      <!-- 導覽列 start -->
      <nav class="d-flex justify-content-between align-items-center container-fluid  bg-white py-4 py-lg-0 fixed-top ">
        <h1 class="fs-9 fs-lg-7 text-primary font-genSen-h">THE F2E</h1>
        <ul class=" d-none d-lg-flex align-items-center gap-8 ">
          <li><a class="text-primary py-7" href="#">關卡資訊</a></li>
          <li><a class="text-primary py-7" href="#">作品列表</a></li>
          <li><a class="text-primary py-7" href="#">攻略資訊</a></li>
          <li><a class="text-primary py-7" href="#">求職專區</a></li>
          <li><a class="text-white bg-primary p-2 " href="#">我要報名</a></li>
        </ul>
        <div class="btn__burger d-lg-none"></div>
      </nav>
      <!-- 導覽列 end -->
      <main class="mt-lg-14 mt-11">
        <%- contents %>
      </main>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>